<html>
<head>
	<title>Music Library</title>
	<link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
		<div class="hero">
      <h1>welcome to the best music library</h1>
			<div class="button">
				<a href="page1" class="btn btn-one">Add data</a>
				<a href="page2" class="btn btn-two">view data</a>
		</div>
  </div>
</body>
</html>
