<!DOCTYPE html>
<html lang="en">
<head>
	<title>Table V01</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100">
					<table>
						<thead>
							<tr class="table100-head">
								<th class="column1">Artist Name</th>
								<th class="column2">Description</th>
								<th class="column3">Years Active</th>
								<th class="column4">Album Name</th>
								<th class="column5">Rel. Date</th>
								<th class="column6">Track Name</th>
								<th class="column6">playtime</th>
							</tr>
						</thead>
						<tbody>
						
						<% for(var i=0; i < todos.length; i++) { %>
						   <tr>
							 <td><%= todos[i].name %></td>
							 <td><%= todos[i].Description %></td>
							 <td><%= todos[i].Years_active %></td>
							
						   </tr>
						<% } %>
												
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
