<!DOCTYPE html>
<html>
<head>
<title>Add data to the Libraray</title>
<!---Including CSS----->
<link rel="stylesheet" type="text/css" href="responsiveform.css">
</head>
<body>
<div id="envelope">
<form action="" method="post">
<header>
<h2>Enter the detials</h2>
<p>This is my form. Fill it out. It's Awesome.</p>
</header>
<label>Artist name</label>
<input name="artist_name" placeholder="Arijit singh" type="text" width="100px;">

<label>Description</label>
<input name="description" placeholder="Awesome Singer" type="text">

<label>Years active</label>
<input name="years_active" placeholder="12 years" type="text">

<label>Album name</label>
<input name="name" placeholder="Old Songs" type="text">

<label>Release Date</label>
<input name="Date" placeholder="March-2017" type="text">

<label>Track name</label>
<input name="tname" placeholder="Ae watan" type="text">

<label>playtime</label>
<input name="time" placeholder="5 minutes" type="text">

<input id="submit" type="submit" value="Add It To Databse" onClick="history.go(0)">

<input id="submit" type="onclick" value="After clicking on submit click ME!" onClick="history.go(0)">

</form>
</div>
</body>
</html>
