<!DOCTYPE html>
<html lang="en">
<head>
	<title>Table V01</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>

	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100">
					<table>
						<thead>
							<tr class="table100-head">
								<th class="column1">Artist Name</th>
								<th class="column2">Description</th>
								<th class="column3">Years Active</th>
								<th class="column4">Album Name</th>
								<th class="column5">Rel. Date</th>
								<th class="column6">Track Name</th>
								<th class="column6">playtime</th>
							</tr>
						</thead>
						<tbody>
								<tr>
									<td class="column1">this</td>
									<td class="column2">200398</td>
									<td class="column3">iPhone X 64Gb Grey</td>
									<td class="column4">$999.00</td>
									<td class="column5">1</td>
									<td class="column6">$999.00</td>
								</tr>

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
